@charset "UTF-8";

body{
      font-family: Arial, sans-serif;
      background:#f8f8f8;
      padding:30px;
      display:flex;
      justify-content:center;
  }

  .menu-card {
        width: 330px;
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 12px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        font-family: Arial, sans-serif;
        margin: 20px auto;
    }

    .top-section {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .food-img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px;
    }

    .resto-info {
        display: flex;
        flex-direction: column;
    }

    .resto-name {
        font-size: 18px;
        font-weight: bold;
    }

    .city {
        font-size: 14px;
        color: #555;
    }

    .item-row {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-name {
        font-size: 16px;
        font-weight: bold;
    }

    .qty-box {
        display: flex;
        gap: 10px;
        align-items: center;
        border: 1px solid #999;
        padding: 4px 10px;
        border-radius: 8px;
    }

    .qty-box button {
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        font-weight: bold;
    }

    .price {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #000;
    }
